.col {
  padding: 0px;
}
.margin__space {
  margin: 0px 85px;
}
.v-application {
  p {
    margin-bottom: 0px;
  }
  .info {
    background-color: white !important;
    border-color: white !important;
  }
}

@for $i from 0 through 1 {
  .info--persional__focus-#{ $i } {
    color: $main-btn;
  }
}
