@mixin straight($background, $color) {
  writing-mode: vertical-lr;
  z-index: 999;
  position: absolute;
  background-color: $background;
  color: $color;
}
@mixin shape($height, $width, $border-radius, $position) {
  width: $width;
  height: $height;
  border-radius: $border-radius;
  position: $position;
  z-index: 999;
}
